@model AddPostGroupViewModel
@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "AddPostGroup";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <p lang="fa">افزودن گروه خبری</p>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="javascript:;" class="reload"> </a>
            <a href="javascript:;" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form asp-controller="Admin" asp-action="AddPostGroup" method="post" class="form-horizontal form-bordered">
            @Html.AntiForgeryToken()
            <div class="form-body" lang="fa">
                <div class="form-group">
                    <label class="col-md-3 control-label">نام گروه</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(a => a.Name, htmlAttributes: new { @type = "text", @class = "form-control input-circle" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">انتخاب گروه پدر</label>
                    <div class="col-md-4">
                        @(Html.Kendo().AutoCompleteFor(m => m.Parent)
                            .DataTextField("name")
                            .Filter("contains")
                            .MinLength(2)
                            .HtmlAttributes(new { @class = "form-control input-circle" })
                            .DataSource(source =>
                            {
                                source
                                .Read(read =>
                                {
                                    read.Action("GetPostGroups", "Admin")
                                    .Data("onAdditionalData");
                                })
                                .ServerFiltering(true);
                            })
                        )
                    </div>
                </div>
                @if (ViewBag.message != null || ViewBag.message != "")
                {
                    <div class="form-group">
                        <div class="col-md-4">
                            <i class="message"></i>
                            <h5 lang="fa">@ViewBag.message</h5>
                        </div>
                    </div>
                }
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-circle green" lang="fa">ثبت</button>
                    </div>
                </div>
            </div>

        </form>
        <!-- END FORM-->
    </div>
</div>

@section js{
    <script>
        function onAdditionalData() {
            return {
                text: $("#Parent").val()
            };
        }
    </script>
}

